.about {
  position: relative;
  background: url("../img/bg/bg-about.webp") 0 0 / cover no-repeat scroll;
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(#f2f2f2e6, 85%);
  }
  &__items {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    align-items: start;
    @media screen and (max-width: 768px) {
      grid-template-columns: 50% 50%;
    }
    @media screen and (max-width: 610px) {
      grid-template-columns: 100%;
    }
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: $standart-trans;
    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 65px;
      height: 65px;
      margin-bottom: 20px;
      overflow: hidden;
      & img {
        width: 100%;
      }
    }
    &-title {
      text-align: center;
      font-weight: 700;
      font-size: $medium-fz;
      color: $first-accent-color;
      font-family: $main-font;
      margin-bottom: 10px;
    }
    &-description {
      text-align: center;
      font-weight: 500;
      line-height: 160%;
      font-size: $small-fz;
      color: $main-bg;
      font-family: $main-font;
    }
  }
}