// ----- Sticky Nav Header -----
.nav-header {
  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    padding: 10px 0;
    background: rgba($white-color, 0);
    z-index: 10;
    transition: all 450ms ease-in-out 0ms;
    &.sticky {
      transform: translateY(0);
      background: rgba($white-color, 0.95);
      box-shadow: $light-box-shadow;
      transition: all 450ms ease-in-out 0ms;
    }
  }
  &__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1150px) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: $first-accent-color;
      visibility: hidden;
      overflow-y: auto;
      transform: translate(-100%, 70px);
      transition: $standart-trans;
      @media screen and (max-width: 425px) {
          transform: translate(-100%, 50px);
        }
      & .nav-header__menu-item {
        margin-right: 0;
        margin-bottom: 30px;
        & .nav-header__link{
          color: $white-color;
          font-size: $sub-large-fz - 2;
          &:hover {
            color: $main-bg-hover;
            &::before {
              background: $main-bg-hover;
              transform: scale(1);
            }
          }
          &.active {
            color: $main-bg-hover;
            &::before {
              background: $main-bg-hover;
            }
          }
        }
        &:last-child {
          margin-bottom: 60px;
        }
      }
      // & .nav-header__link::before {
      //   background: $main-bg-hover;
      // }
      &.nav-header__menu-list--active {
        transform: translate(0, 70px);
        visibility: visible;
        @media screen and (max-width: 425px) {
          transform: translate(0, 50px);
        }
      }
    }
    
  }
  &__menu-item {
    margin-right: 10px;
    text-transform: uppercase;
    &:last-child {
      margin-right: 0;
    }
    &:hover .nav-header__link {
      color: $first-accent-color;
    }
    &:hover .nav-header__link::before {
      transform: scale(1);
    }
    // &.active .nav-header__link {
    //   color: $first-accent-color;
    //   &::before {
    //     transform: scale(1);
    //   }
    // }
    
  }
  &__link {
    position: relative;
    color: $main-bg;
    font-weight: 500;
    font-size: $small-fz;
    transition: $standart-trans;
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background: $first-accent-color;
      bottom: -3px;
      transform: scale(0);
      transition: $standart-trans;
    }
    &.active {
      color: $first-accent-color;
      &::before {
        transform: scale(1);
      }
    }
  }
  &__right-block {
    display: flex;
  }
  &__burger {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    background: transparent;
    overflow: hidden;
    cursor: pointer;
    transition: $standart-trans;
    z-index: 15;
    @media screen and (max-width: 1150px) {
      display: block;
    }
    &-line {
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      background: $first-accent-color;
      box-shadow: 0 0 2px 0 rgb(#000, 0.3);
      transition: $standart-trans;
      &:nth-child(1) {
        top: 6px;
      }
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
      &:nth-child(3) {
        top: 50%;
        transform: translateY(-50%);
      }
      &:nth-child(4) {
        top: 22px;
      }
    }
    &.nav-header__burger--active &-line:nth-child(1) {
      transform: translate(100%, 0%);
    }
    &.nav-header__burger--active &-line:nth-child(2) {
      transform: translate(0%, -50%) rotate(45deg);
    }
    &.nav-header__burger--active &-line:nth-child(3) {
      transform: translate(0%, -50%) rotate(-45deg);
    }
    &.nav-header__burger--active &-line:nth-child(4) {
      transform: translate(-100%, 0%);
    }
  }
}

.call-info {
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 25px;
    @media screen and (max-width: 825px) {
      display: none;
    }
    @media (max-width: 425px) {
      display: flex;
      align-items: center;
      margin-right: 15px;
    }
  }
  &__phone {
    color: $second-accent-color;
    font-size: $medium-fz;
    transition: $standart-trans;
    margin-bottom: 8px;
    transition: $standart-trans;
    &:hover {
      color: $main-bg;
      transform: translateY(-3px);
    }
    & .fa {
      padding-right: 3px;
      @media (max-width: 425px) {
        display: none;
      }
    }

    @media (max-width: 425px) {
      margin-bottom: 0;
    }
  }
  &__time {
    color: $first-accent-color;
    font-size: $small-fz;
    cursor: default;
    font-weight: 500;
    @media (max-width: 425px) {
      display: none;
    }
  }
}

.place-call {
  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}