body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: $main-font;

  &.lock {
    overflow: hidden;
  }
}

.main__btn {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-family: $main-font;
  color: $white-color;
  font-size: $medium-fz;
  text-transform: uppercase;
  border-radius: 20px;
  background: $first-gradient-normal;
  box-shadow: $light-box-shadow;
  transition: $standart-trans;
  &:hover {
    letter-spacing: 1px;
    background: $first-gradient-hover;
    box-shadow: $hover-box-shadow;
  }
}

.modal-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-10px, 10px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $main-bg;
  box-shadow: $light-box-shadow;
  transition: $standart-trans;
  cursor: pointer;
  
  &:hover {
    background: #215e8b;
    box-shadow: $hover-box-shadow;
  }

  & .fa {
    color: #fff;
    font-size: 18px;
  }
}

.title {
  font-family: $main-font;
  color: $white-color;
  font-weight: 800;
  line-height: 130%;
  &__keywords {
    color: $first-accent-color;
  }
  &-line {
    position: relative;
    &:before {
      position: absolute;
      content: "";
      bottom: 50%;
      left: 50%;
      transform: translateX(-50%);
      width: 90px;
      height: 2px;
      background: $first-accent-color;
      animation: line-slip 5500ms infinite ease-in-out;
      @media screen and (max-width: 425px) {
        bottom: 50%;
        width: 60px;
      }
    }
  }
}

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section {
  padding: 70px 0;
  width: 100%;
  height: 100%;
  @media screen and (max-width: 425px) {
    padding: 40px 0;
  }
  &-container {
    flex-direction: column;
  }
  &-title {
    font-size: $large-fz;
    text-transform: uppercase;
    text-align: center;
    color: $main-bg;
    padding-bottom: 60px;
    @media screen and (max-width: 768px) {
      font-size: $large-fz - 6;
      padding-bottom: 40px;
    }
    @media screen and (max-width: 425px) {
      font-size: $sub-large-fz - 1;
    }
    @media screen and (max-width: 320px) {
      padding-bottom: 25px;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1160px;
  padding: 0 30px;
  margin: 0 auto;
  z-index: 1;
}

.col {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

@keyframes line-slip {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}

.status {
  position: absolute;
  bottom: -35px;
  width: 100%;
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: $light-box-shadow;
  &::before {
    position: absolute;
    content: '';
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    border: 8px solid transparent; 
    border-bottom: 8px solid #fff;
  }
}

.modal {
  &__wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(-100%);
    width: 100%;
    height: 100%;
    background: rgba(#fff, 0.4);
    z-index: 1000;
    visibility: hidden;
    backdrop-filter: blur(3px);
    font-family: $main-font;
    transition: $standart-trans;

    &.show {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.btn{
  cursor: pointer;
  &-pulse {
    position: relative;
    overflow: hidden;
    animation-name: pulse;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
  }
  &-blick {
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -60%;
      left: -20%;
      width: 30px;
      height: 150px;
      background-color: rgba(252,228,228,0.3);
      -webkit-transform: skew( -45deg);
      -ms-transform: skew(-45deg);
      transform: skew(-45deg);
      animation-duration: 4s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: blick;
      animation-name: blick;
      -webkit-transition-duration: .3s;
      -o-transition-duration: .3s;
      transition-duration: .3s;
    }
  }
}


.parent {
  position: relative;
  overflow: hidden;
}
.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(#000, 55%);
    backdrop-filter: blur(2px);
    z-index: 1;
  }
  & .lazy {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
  }
}

@keyframes blick {
  0% {
    left: -100%;
  }
  100% {
    left: 210%;
  }
}

@keyframes pulse {
0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

50% {
    -webkit-transform: scale3d(1.02,1.02,1.02);
    transform: scale3d(1.02,1.02,1.02);
}
100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
}

::-webkit-scrollbar {
  width: 12px;
  background-color: $white-color;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $first-accent-color;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}